{% extends 'base.html.twig' %}

{% block title %}FormeSurvey &#8226; Partager{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-sm-3">
			{% include 'utilities/description.html.twig' %}
		</div>
		<div class="col-sm-9">
			<div class="text-center mt-1">
				{% include 'utilities/navbar.html.twig' %}
			</div>
			<div class="card m-1">
				<div class="card-body">
					<h3>Partager</h3>
				</div>
			</div>

		</div>
	</div>
{% endblock %}
