a.js-selected { 
	text-decoration: none; 
	color: black;
}

a.choice { 
	text-decoration: none; 
	color: white;
}

a.form { 
	text-decoration: none; 
	color: black;
}

.backgroundcolorgreen {
	border-radius: 20px;
	border: 1px solid green;
	background-color: honeydew;
	text-align: center;
}

.backgroundcolorwhite {
	border: 1px solid white;
	background-color: white;
	text-align: center;
}

.table-responsive{
    max-height: 200px;
    overflow:scroll; 
}

.backgroundcolorhoneydew {
	background-color: honeydew;
}

.backgroundcolormistyrose {
	background-color: mistyrose;
}

.fixed-div
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}