<div class="btn-group btn-group-sm" role="group" aria-label="...">
	<a class="btn btn-light" href="{{ path('form_survey', {'id': survey.id}) }}" role="button"><i class="fas fa-lightbulb"></i> Créer</a>
	<a class="btn btn-light" href="{{ path('answer', {'id': survey.id}) }}" role="button" target="_blank"><i class="fas fa-eye"></i> Visualiser</a>
	<a class="btn btn-light" href="#" role="button"><i class="fas fa-share-alt"></i> Partager</a>
	<a class="btn btn-light" href="{{ path('form_result', {'id': survey.id}) }}" role="button"><i class="fas fa-poll"></i> Résultats</a>
</div>
