<ol>
	{% for answer in question.answers %}
		{% if answer.author.department.id == value %}
			<li>
				{% for questionMultipleChoice in question.questionMultipleChoices %}
					{% if questionMultipleChoice.id == answer.answer %}
						<STRONG>
							{{ questionMultipleChoice.content }}
						</STRONG>
					{% endif %}
				{% endfor %}
			</li>
		{% endif %}
	{% endfor %}
</ol> 

{% if value == null %}
	<ol>
		{% for answer in question.answers %}
				<li>
					{% for questionMultipleChoice in question.questionMultipleChoices %}
						{% if questionMultipleChoice.id == answer.answer %}
							<STRONG>
								{{ questionMultipleChoice.content }}
							</STRONG>
						{% endif %}
					{% endfor %}
				</li>
		{% endfor %}
	</ol> 
{% endif %}



