<i class="fas fa-list-ol"></i> Choice
<ul class="list-group list-group-flush">
  {% for questionMultipleChoice in question.questionMultipleChoices | reverse %}
  <li class="list-group-item">
    <a href="{{ path('postAnswer', {'id': question.id, 'value': questionMultipleChoice.id}) }}" class="js-selected" id="{{ question.id }}">
      <div class="contentImg backgroundcolorwhite {{ question.id }} {{ questionMultipleChoice.id }}">
        {{ questionMultipleChoice.content }}
      </div>
    </a>
  </li>
  {% endfor %}
</ul>