<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <a href="{{ path('postAnswer', {'id': question.id, 'value': 5}) }}" class="js-mood" id="{{ question.id }}">
      <div class="contentImg backgroundcolorwhite {{ question.id }} 5">
        <span style="font-size: 3em; color: gold;">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </span>
      </div>
    </a>
  </li>
  <li class="list-group-item">
    <a href="{{ path('postAnswer', {'id': question.id, 'value': 4}) }}" class="js-mood" id="{{ question.id }}">
      <div class="contentImg backgroundcolorwhite {{ question.id }} 4">
        <span style="font-size: 3em; color: gold;">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </span>
      </div>
    </a>
  </li>
  <li class="list-group-item">
    <a href="{{ path('postAnswer', {'id': question.id, 'value': 3}) }}" class="js-mood" id="{{ question.id }}">
      <div class="contentImg backgroundcolorwhite {{ question.id }} 3">
        <span style="font-size: 3em; color: gold;">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </span>
      </div>
    </a>
  </li>
  <li class="list-group-item">
    <a href="{{ path('postAnswer', {'id': question.id, 'value': 2}) }}" class="js-mood" id="{{ question.id }}">
      <div class="contentImg backgroundcolorwhite {{ question.id }} 2">
        <span style="font-size: 3em; color: gold;">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </span>
      </div>
    </a>
  </li>
  <li class="list-group-item">
    <a href="{{ path('postAnswer', {'id': question.id, 'value': 1}) }}" class="js-mood" id="{{ question.id }}">
      <div class="contentImg backgroundcolorwhite {{ question.id }} 1">
        <span style="font-size: 3em; color: gold;">
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </span>
      </div>
    </a>
  </li>
</ul>