{% extends 'base.html.twig' %}

{% block body %}
	{% for i in 0..15 %}
	    <img id="gif" src="{{ srcs[i] }}"/>
	    <a href="{{ srcs[i] }}">Source</a>
	    <p>{{ ids[i] }}</p>
    {% endfor %}
{% endblock %}
