{% extends 'base.html.twig' %}

{% block body %}

	<h1 class="display-4">Une enquête</h1>

	<form action="" method="post">

					<div class="form-group">
							<label for="exampleInput">Votre réponse :</label>
							<input type="text" name="answer" class="form-control" id="exampleInput" placeholder="Votre réponse ...">
					</div>

	</form>
	<button type="submit">Enregistrer mes réponses</button>

{% endblock %}
